* {
	font-family :sans-serif;

.title {
    color: #02ccba;

    * {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
	/*検索キーワード*/
.Kensaku {
	float: right;
	text-align:right;
	font-size :30px;
	margin: 20px 40px;
	
	
a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}
.cp_fullscreenmenu {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}
/*menuコンテンツ*/
.cp_fullscreenmenu .menu {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	visibility: hidden;
	overflow: hidden;
	width: 100%;
	height: 100%;
	pointer-events: none;
	outline: 1px solid transparent;

	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	
	* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}
input {
  display: none;
}
.cp_fullscreenmenu {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
}
/*menuコンテンツ*/
.cp_fullscreenmenu .menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to top, rgba(255,8,68,0.8) 0%, rgba(255,177,153,0.7) 100%);
}
.cp_fullscreenmenu .menu label {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-size: 100%;
}
.cp_fullscreenmenu .menu .menucont {
	font-size: 54px;
	position: relative;
	top: 50%;
	margin-top: -170px;
	padding-bottom: 20px;
	text-align: center;
}
.cp_fullscreenmenu .menu ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
.cp_fullscreenmenu .menu ul li,
.cp_fullscreenmenu .menu ul li a {
	transition: all 0.3s ease;
}
.cp_fullscreenmenu .menu ul li a {
	display: block;
	padding: 10px 0;
	color: #ffffff;
}
.cp_fullscreenmenu .menu ul li a:hover {
	color: #ff0844;
}
.cp_fullscreenmenu .menu ul li:hover {
	background: #ffffff;
}
/*クリックしたらメニューが開閉の動作*/
.cp_fullscreenmenu .menuEffects {
	visibility: hidden;
	transition: opacity 0.5s, visibility 0.5s;
	opacity: 0;
}
.cp_fullscreenmenu .menuEffects ul {
	transition: all 0.5s;
	transform: translateY(0%);
}
.cp_fullscreenmenu #menuToggle:checked ~ .menuEffects {
	visibility: visible;
	transition: opacity 0.5s;
	opacity: 1;
}
.cp_fullscreenmenu #menuToggle:checked ~ .menuEffects ul {
	opacity: 1;
}
.cp_fullscreenmenu #menuToggle:checked ~ .hamburger .open {
	background-color: transparent;
}
.cp_fullscreenmenu #menuToggle:checked ~ .hamburger .open:before {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	content: '';
	transform: rotate(45deg);
	background-color: #ffffff;
}
.cp_fullscreenmenu #menuToggle:checked ~ .hamburger .open:after {
	position: relative;
	z-index: 1;
	top: 0;
	right: 0;
	content: '';
	transform: rotate(-45deg);
	background-color: #ffffff;
}
.cp_fullscreenmenu #menuToggle:not(:checked) ~ .menuEffects ul {
	transform: translateY(-30%);
}
/*ハンバーガー*/
.cp_fullscreenmenu .hamburger {
	position: relative;
	top: 0;
	right: 0;
	display: block;
	width: 50px;
	height: 50px;
	padding: 15px;
	cursor: pointer;
}
.cp_fullscreenmenu .hamburger:hover .open:before {
	top: -9px;
}
.cp_fullscreenmenu .hamburger:hover .open:after {
	top: 5px;
}
.cp_fullscreenmenu .open,
.cp_fullscreenmenu .open:before,
.cp_fullscreenmenu .open:after {
	position: relative;
	display: block;
	width: 24px;
	height: 4px;
	border-radius: 2px;
	background-color: #ff0844;
	transition: all 0.3s ease;
}
.cp_fullscreenmenu .open {
	top: 8px;
	cursor: pointer;
}
.cp_fullscreenmenu .open:before {
	top: -8px;
	content: '';
	transform: rotate(0deg);
}
.cp_fullscreenmenu .open:after {
	top: 4px;
	content: '';
}
	align-items: center;
	justify-content: center;
}
.cp_fullscreenmenu .menu > div {
	display: flex;
	overflow: hidden;
	width: 200vw;
	height: 200vw;
	transition: all 0.4s ease;
	-webkit-transform: scale(0);
	        transform: scale(0);
	text-align: center;
	color: #fefefe;
	border-radius: 50%;
	background: rgba(0,131,143 ,0.8);

	flex: none;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	align-items: center;
	justify-content: center;
}
.cp_fullscreenmenu .menu > div > ul {
	display: block;
	max-height: 100vh;
	margin: 0;
	padding: 0 1em;
	list-style: none;
	transition: opacity 0.4s ease;
	opacity: 0;
}
.cp_fullscreenmenu .menu > div > ul > li {
	font-size: 24px;
	display: block;
	margin: 1em;
	padding: 0;
}
.cp_fullscreenmenu .menu > div > ul > li > a {
	position: relative;
	display: inline;
	cursor: pointer;
	transition: color 0.4s ease;
}
.cp_fullscreenmenu .menu > div > ul > li > a:hover {
	color: #e5e5e5;
}
.cp_fullscreenmenu .menu > div > ul > li > a:hover:after {
	width: 100%;
}
.cp_fullscreenmenu .menu > div > ul > li > a:after {
	position: absolute;
	z-index: 1;
	bottom: -0.15em;
	left: 0;
	width: 0;
	height: 2px;
	content: '';
	transition: width 0.4s ease;
	background: #e5e5e5;
}
/*クリックしたらメニューが開閉の動作*/
.cp_fullscreenmenu .toggle {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	cursor: pointer;
	opacity: 0;
}
.cp_fullscreenmenu .toggle:checked + .hamburger > span {
	-webkit-transform: rotate(135deg);
	        transform: rotate(135deg);
}
.cp_fullscreenmenu .toggle:checked + .hamburger > span:before,
.cp_fullscreenmenu .toggle:checked + .hamburger > span:after {
	top: 0;
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}
.cp_fullscreenmenu .toggle:checked + .hamburger > span:after {
	opacity: 0;
}
.cp_fullscreenmenu .toggle:checked ~ .menu {
	visibility: visible;
	pointer-events: auto;
}
.cp_fullscreenmenu .toggle:checked ~ .menu > div {
	transition-duration: 0.75s;
	-webkit-transform: scale(1);
	        transform: scale(1);
}
.cp_fullscreenmenu .toggle:checked ~ .menu > div > ul {
	opacity: 1;
}
.cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(1) {
	transition-delay: 0.4s;
}
.cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(2) {
	transition-delay: 0.6s;
}
.cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(3) {
	transition-delay: 0.8s;
}
.cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(4) {
	transition-delay: 1.0s;
}
.cp_fullscreenmenu .toggle:hover + .hamburger {
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
.cp_fullscreenmenu .toggle:checked:hover + .hamburger > span {
	-webkit-transform: rotate(225deg);
	        transform: rotate(225deg);
}
/*HeartLight画像*/
	.heartlightgazou {
		width :100px ;
		margin : 50px 100px ;
	}
		
