
.title {
    color: #02ccba;
}
    * {
	
	    font-family :sans-serif;
	 
}
	/*検索キーワード*/
.Kensaku {
	float: right;
	}
	
	
a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}
.cp_fullscreenmenu {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}
/*menuコンテンツ*/
.cp_fullscreenmenu .menu {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	visibility: hidden;
	overflow: hidden;
	width: 100%;
	height: 100%;
	pointer-events: none;
	outline: 1px solid transparent;

}
/*HeartLight画像*/
	.heartlightgazou {
		width :100px ;
		margin : 50px 100px ;
	}
		
